.grid {
  margin: auto;
  width: 80vmin;
  height: 80vmin;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: repeat(3, 3fr);
  grid-gap: 0.25rem 0.25rem;
}

.grid img {
  object-fit: contain;
  width: 100%;
  background: hotpink;
}
.submit {
  background-color: greenyellow;
}
